@import "tailwindcss";

/* Global font + LEGO vibe */
:root {
  font-family: "Nunito", system-ui, sans-serif;
}

/* Headings use the fun font */
.heading-font {
  font-family: "Fredoka", system-ui, sans-serif;
}

/* Clean base */
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

@keyframes floaty {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes loadingBar {
  0% {
    transform: translateX(-100%);
    width: 40%;
  }

  50% {
    transform: translateX(30%);
    width: 60%;
  }

  100% {
    transform: translateX(120%);
    width: 40%;
  }
}